@model IEnumerable<_03_MVC.Models.Film>

<div class="container">
    <h1>Film List</h1>
    @foreach (var film in Model)
    {
        <div class="film-container">
            <img class="film-image" src="@film.ImageUrl" alt="@film.Name" />
            <div class="film-details">
                <h2>@film.Name</h2>
                <p><strong>Year:</strong> @film.Year</p>
                <p><strong>Director:</strong> @film.Director.Name</p>
                <p><strong>Genre:</strong> @film.Genre.Name</p>
                <p>@film.Description</p>
            </div>
        </div>
    }
</div>